* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #1F2937;
    height: 12vh;
    color: white;
    align-items: center;
}

ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 14px;   
}

li {
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
}

.left-header {
    padding: 10px;
    margin: 6px; 
    font-weight: bold;
    font-size: 32px;
}

.right-header {
    padding: 14px;
    font-size: 24px;
    margin: 6px;
}

.hero {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #1F2937;
    height: 35vh;
    color: white;
    gap: 20px;
    padding-top: 30px;
}

.left-hero {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    gap: 20px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.main h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 2px solid #1F2937;
    border-radius: 20px;
}

.details {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px 0;
}

.one {
    padding-left: 0px;;
}

.two {
    padding-left: 40px;
}

.three {
    padding-right: 28px;
}

.four {
    padding-right: 72px;
}

.main-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url("splash.png");
    font-size: 80px;
}

h3 {
    color: rgb(28, 28, 28)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #D8D5D5;
}

.holder {
    display: flex;
    background-color: #1F2937;
    height: 15vh;
    width: 40vw;
    border-radius: 12px;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.left-footer {
    display: flex;
    flex-direction: column;
    width: 26vw;
}

.left-footer > * {
    padding: 8px 0 8px 0;
}
.right-footer > button {
    width: 8vw;
    font-size: larger;
    background-color:#1F2937
}